<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elastic Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Martin Bažík">

	<link href="{$basePath}/css/spruce.css" rel="stylesheet">
    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{$basePath}/css/app.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Elastic Browser</a>
          <div class="nav-collapse collapse" n:if="$user->isLoggedIn()">
            <ul class="nav">
              <li n:class="$presenter->isLinkCurrent(':overview:*') ? active"><a n:href=":overview:">Overview</a></li>
              <li n:class="$presenter->isLinkCurrent(':browser:*') ? active"><a n:href=":browser:">Browser</a></li>
              <li><a href="#contact">Query</a></li>

            </ul>

			{form formSelectServer class=> 'form select-server form-inline'}
				{input server}{input btnSubmit}
			{/form}

			<ul class="nav pull-right">
				<li n:class="$presenter->isLinkCurrent(':settings:*') ? active"><a n:href=":settings:servers">Settings</a></li>
			</ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

      {snippet flashes}
			<div n:foreach="$flashes as $flash" class="flash alert alert-{$flash->type} {$flash->type}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{$flash->type}</strong><br>{$flash->message}
			</div>
		{/snippet}

		{dump $health}
	<div class="well">
		Current server: {$currentServer->name}@{$currentServer->hostname} version: {$currentServer->version}
		health: <span n:class="$health['status'] === 'green' ? 'badge-success' : ($health['status'] === 'yellow' ? 'badge-warning' : 'badge-error'), 'badge'">
			{$health['status']} ({$health['number_of_nodes']}, {$health['active_primary_shards']})</span>
		<div class="pull-right">
			<a n:href="refresh!" class="btn btn-primary">Refresh</a>
		</div>
	</div>
      {include #content}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/app.js"></script>


  </body>
</html>
